<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> 
      <ion-icon name="clipboard"></ion-icon>
      Sent Request
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="light">
  <div class="header-content">
    <ion-label>
      <ion-text color="primary">Information Of Person To Be Umrah</ion-text>
    </ion-label>
  </div>
  <ion-grid size.sm="6" offset.sm="3">
    <ion-row>
      <ion-col>
      
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>